# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.lein-repl-history
.nrepl-port
# Folders
_obj
_test
nodetest
cljs_workspace/root/target
node_modules
components
goapp/src/package
github.com

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

