<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Street Models</title>
	</head>
	<body>
		<h1><a href='Page?cmd=Admin'>Admin</a></h1>
		
		<table border=1px>
			<tr>
				<td></td>
				<td>Key</td>
				<td>Available</td>
				<td>ModelKey</td>
				<td>Caption</td>
				<td>Description</td>
				<td>Talk</td>
				<td>Comment</td>
				<td>Tag</td>
				<td>Date</td>
				<td></td>
			</tr>
			
			<form name=addModel action='Func'>
				<input type=hidden name=cmd value=UpdateStreetModel>
				<input type=hidden name=redirect value='Page?cmd=QueryStreetModelPage'>
				<input type=submit value=Add>
			</form>
			
			{{ range .StreetModels }}
			<tr>
				<td><a href='Page?cmd=EditStreetModelPage&Key={{ .Key }}'><button>Edit</button></a></td>
				
				<form name=updateModel action='Func'>
					<input type=hidden name=cmd value=UpdateStreetModel>
					<input type=hidden name=redirect value='Page?cmd=QueryStreetModelPage'>
					<input type=hidden name=Key value={{ .Key }}>
					<td>{{ .Key }}</td>
					<td><input type=checkbox name=Available {{if .Available}}checked{{end}}></td>
					<td><input name=ModelKey value={{ .ModelKey }}></td>
					<td><input name=Caption value={{ .Caption }}></td>
					<td><textarea name=Description rows=3>{{ .Description }}</textarea></td>
					<td><textarea name=Talk rows=3>{{ .Talk }}</textarea></td>
					<td><textarea name=Comment rows=3>{{ .Comment }}</textarea></td>
					<td><input name=Tag value={{ .Tag }}></td>
					<td>{{ .Date }}</td>
					<td><input type=submit value=Update></td>
				</form>
			</tr>
			{{ end }}
		</table>
		
	</body>
</html>