<div>
	<style>
	.flowLeft{
		float:left;
	}
	.outline{
		outline:#000 solid 1px;
	}
	.mc_hotContentRoot{
		position:relative;
		width:800px;
		height:100%;
		left:50%;
		margin-left:-400px;
		padding:10px;
	}
	.mc_hotContentRoot .mc_hotImageContainer{
		width:300px;
		height:400px;
	}
	.mc_hotContentRoot .txt_hotDetail{
		width:400px;
		height:400px;
		padding:10px;
	}
	.txt_hotDescribe{
		position:relative;
		top:30px;
	}
	.mc_arrowContainer{
		position:absolute;
		width:100%;
		top:50%;
	}
	.mc_arrowContainer .btn_prev{
		position:absolute;
		left:100px;
	}
	.mc_arrowContainer .btn_next{
		position:absolute;
		right:100px;
	}
	</style>
	hot page
	<div class="mc_arrowContainer">
		currentPage: {{ currentPage }}
		<div>
			<button class="btn_prev" ng-click='prevPage()'>上一則</button>
		</div>
		<div>
			<button class="btn_next" ng-click='nextPage()'>下一則</button>
		</div>
	</div>
	<div class="outline mc_hotContentRoot">
		<div class="outline flowLeft mc_hotImageContainer">
		</div>
		<div class="flowLeft txt_hotDetail">
			<div>
				<div class="txt_hotTitle">
					{{ title }}
				</div>
				<div class="txt_hotDescribe">
					{{ description }}
				</div>
			</div>
		</div>
	</div>
</div>