#mc_centerLogo{
	left:50%;
	margin-left:-512px;
}
#mc_bigLogo{
	top:50%;
	margin-top:-200px;
	left:5px;
}
#mc_3dIframeBorder{
	top:50%;
	margin-top:-200px;
	left:513px;
}
#mc_iframeBack{
	width:323px;
	height:379px;
}
