#mc_mainBg{
	background-image:url( '../images/index/patterm.png' );
}
#mc_backgroundBack{
	background: -webkit-linear-gradient(#555555, #000000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#555555, #000000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#555555, #000000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#555555, #000000); /* Standard syntax */
}
#mc_fadeOutTop{
	width:100%;
	height:300px;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)); /* Standard syntax */
	pointer-events:none;
}
#mc_fadeOutBottom{
	width:100%;
	height:300px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)); /* Standard syntax */
	pointer-events:none;
}
#mc_foot_background{
	height:50px;
}
#mc_menubar{
	top:100px;
}
#mc_head_background{
	height:50px;
}
#mc_foot_background{
	height:50px;
}
.fixedTop{
	top:-12px;
}
.textBase{
	color:white;
	font-family:'Microsoft JhengHei'
}
.mainContainer{
	width:700px;
}
