#mc_searchbar{
	
}
#mc_modelTitle{
	margin-bottom:5px;
}
#img_listStylePicture{
	width:145px;
	height:219px;
	margin-right:5px;
}
#mc_modelTitle{
	width:220px;
	height:42px;
	margin-bottom:5px;
}
#mc_modelTitle #txt_name{
	margin-top:11px;
	margin-left:8px;
}
#mc_modelTitle #txt_date{
	right:0;
	margin-top:11px;
	margin-right:8px;
}
.listSideSize{
	width:70px;
	height:70px;
	margin-bottom:5px;
}
.singleModel{
	width:220px;
	height:267px;
}

