.mc_background{
	width:960px;
	background-color:#333333;
}
.mc_center{
	left:50%;
	margin-left:-480px;
	width:960px;
}
.margin_topA{
	margin-top:150px;
}
.margin_topB{
	margin-top:15px;
}
.margin_rightA{
	margin-right:150px;
}
.txt_date{
	margin-left:500px;
}
.mc_line{
	margin-left:120px;
	margin-right:120px;
	margin-bottom:15px;
}
.mc_pro{
	width:292px;
	height:91px;
	margin-bottom:10px;
}
.iframe_3dIframe{
	margin-left:150px;
	margin-right:10px;
}
.mc_stylePicture{
	height:282px;
}

.txt_name, .txt_name2, .txt_date, .mc_line, .mc_pro, .mc_stylePicture, .mc_picture1, .mc_picture2, .mc_picture3, .iframe_3dIframe{
	position:relative;
	float:left;
}
.txt_name, .txt_date{
	margin-top:150px;
}
<div class="relative f_left margin_topA">name</div>
					<div class="relative f_left margin_topA txt_date">2014-12-1</div>
					<img class='relative f_left mc_line' src='images/streetSnap/line.png'/>
					<iframe class='relative f_left margin_topB iframe_3dIframe' width='323px' height='379px'></iframe>
					<div class="relative f_left margin_topB margin_rightA black_cube opacity_5 mc_pro"></div>
					<img class='relative f_left mc_stylePicture' src='images/streetSnap/test2.jpg'/>
					<img class='relative f_left margin_rightA' src='images/streetSnap/test1.jpg'/>
					<img class='relative f_left margin_rightA' src='images/streetSnap/test1.jpg'/>
					<img class='relative f_left margin_rightA' src='images/streetSnap/test1.jpg'/>
					<div class="relative f_left">name</div>
					<img class='relative f_left mc_line' src='images/streetSnap/line.png'/>