<html>
	<head>
		<script src='js/lib/angular.min.js'></script>
		<script>
			(function(){
				var app = angular.module('test', [])
				
				app.controller('c1', function($scope){
					$scope.currentTab = 0
					$scope.peopleList = [{name:'vic', visible: true, id:0 }, {name:'han', visible: false, id:1}]
					$scope.setTab = function(v){
						this.currentTab = v
					}
				});
				
			})();
		</script>
	</head>
	<body>
		<div ng-app='test'>
			{{ 2+3 }}
			<div ng-controller='c1'>
				{{ currentTab }}
				<input ng-model='currentTab'>
				<select ng-model='currentTab'>
					<option value=0>0</option>
					<option value=1>1</option>
				</select>
				<div ng-repeat='p in peopleList' >
					<div ng-show='p.id == currentTab'>
						name: {{p.name}}
					</div>
				</div>
				<button ng-click='setTab(1)'>tab1</button>
			</div>
		</div>
	</body>
</html>